.navbar {
  height: $navbar-height;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: $brand-color;
  box-shadow: $box-shadow;
  z-index: 100500;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    list-style: none;
    height: $navbar-height;
    margin: 0;
    padding: 0 10px;

    li {
      height: $navbar-height;
      display: inline-block;
      a {
        display: inline-flex;
        height: $navbar-height;
        padding: 0 10px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $font-main;
        transition: background .3s;

        .navbar-avatar {
          width: 48px;
          height: 48px;
          border-radius: 10px;
          margin-right: 10px;
        }

        .navbar-login {
        }

        .circle-icon {
          background: $accent-color;
          box-shadow: none;
          width: 48px;
          height: 48px;
          transition: background .3s;

          i {
            color: lighten($brand-color, 15%);
            cursor: pointer;
          }
        }
      }

      &.active a, a:hover {
        background-color: $accent-color;
      }
    }
    &.navbar-right {
      text-align: right;
      float:right;
    }

    &.navbar-center {
      width: 20%;
      text-align: center;
    }
  }

  .logo {
    width: 4%;
    margin: 0 auto;
    line-height: 40px;
    position: fixed;
    color: white;
    height: 65px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 48%;
    cursor: pointer;
    transition: background .3s;

    &:hover {
      background-color: $accent-color;
    }
  }
}
